/* Background image */
body {
    background-image: url('../images/images.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
}


/* Navigation bar */
.navbar {
    width: 100vw;
    background: rgb(3, 93, 249);
    padding: 12px 0;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.navbar ul {
    max-width: 900px;
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 0px;
    margin: 0 auto;
}

.navbar a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 6px 12px;
}

/* Keyboard clicking and hovering things for navigation */
.navbar a:focus{
    outline: 1px solid white;
    background: rgb(2, 19, 251);
}

.navbar a:hover{
    outline: 1px solid white;

}


/* Reading list */
.reading-list ul {
    list-style: square;
    padding-left: 20px;
}

.reading-list a {
    font-size: 20px;
    color: black;
}

/* Keyboard clicking and hovering things for readling link */
.reading-list a:focus {
    outline: 1px solid white;
}

.reading-list a:hover {
    outline: 1px solid white;

}

.reading-list h2 {
    color: black;
    font-size: 30px;
    text-align: left;
    margin-bottom: 0px;
    padding: 10px;
    margin-top: 30px;
}

.reading-list ul {
    list-style:inside;
    padding: 10px;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.reading-list li {
    color: black;
    font-size: 23px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 8px;
}

/* Dark overlay wrapper for accessibility */
.page-wrapper {
    background: rgba(98, 169, 221, 0.895);
    padding: 40px;
    max-width: 900px;
    margin: 40px auto;
    border-radius: 12px;
}

/* Title */
.title h1 {
    font-family:cursive;
    font-size: 50px;
    color: #c13013;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
    padding-bottom: 0px;
    position: relative;
    /* border-bottom: #c13013 solid 2px; */
}

.title h1::after {
    content: "";
    width: 850px;
    height: 3px;
    background: rgb(227, 15, 15);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
}




.about-section,
.interests-section
 {
    text-align: left;
}


/* Section headings */
.about-section h2,
.interests-section h2
 {
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 0px;
    padding: 10px 128px;
    background: rgba(0, 0, 0, 0.6); 
    border-radius: 10px;
    display: inline-block;

}

/* About text */
.about-section p {
    /* background-color: rgba(231, 231, 233, 0.675); */
    text-align: left;
    font-size: 32px;
    color: black;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
    line-height: 1.6;
    margin-top: 0px;
    margin-bottom: 5px;
}

/* Interests list */
.interests-section ul {
    /* background-color: rgba(0, 0, 0, 0.7); */
    /* border: 2px solid #555; */
    list-style: inside circle;
    padding: 10px;
    border-radius: 10px;
}

.interests-section li {
    color: black;
    font-size: 22px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
}


.extra-section h2 {
    color: #FFFFFF;
    border-top: #FFFFFF solid 2px;
    padding-top: 18px;
    text-align: left;
    margin: 0px;
    margin-top: 50px;
}


/* Contact section */
.extra-section p {
    color: #FFFFFF;
    font-size: 18px;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}



.keyboard-docs h2 {
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 0px;
    padding: 10px 128px;
    background: rgba(0, 0, 0, 0.6); 
    border-radius: 10px;
    display: inline-block;
}

.keyboard-docs p {
    text-align: left;
    font-size: 32px;
    color: black;
    padding: 10px;
    border-radius: 8px;
    font-size: 24px;
    line-height: 1.6;
    margin-top: 0px;
    margin-bottom: 1px;
}

.keyboard-docs ul {
    list-style: inside decimal;
    padding: 10px;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.keyboard-docs li {
    color: black;
    font-size: 18px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
}


body.NBA {
    background: black;
    background-image: none;
    
}

.finals-wrapper {
    max-width: 1800px;
    margin: 40px auto;
    padding: 0 20px;
}


.finals {
    position: relative;
    margin-bottom: 40px;
}

.finals-img {
    width: 100%;
    height: 890px;
    object-fit:fill;
    object-position: top;
    filter: brightness(90%);
}



.finals-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 5px;
}

.finals-card {
    background: rgba(255, 255, 255, 0.88);
    padding: 5px;
    transition: transform 0.5s ease;
    cursor: pointer;
    border-radius: 3px;
}

.finals-card:hover {
    transform: translateY(-23px);
}

.card-img {
    width: 100%;
    height: 580px;
    object-fit: cover;
    object-position: top;
    border-radius: 6px;
}

/* TEXT OVERLAY */
.finals-card h3,
.finals-card p {
    position: absolute;
    left: 20px;
    right: 20px;
    color: white;
    opacity: 0;
    transform: translateY(23px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.finals-card h3 {
    bottom: 400px;
    font-size: 48px;
    font-weight: bold;
}

.finals-card p {
    bottom: 50px;
    font-size: 29px;
}

/* SHOW TEXT ON HOVER */
.finals-card:hover h3,
.finals-card:hover p {
    opacity: 1;
    transform: translateY(0);
}